.search-full-width {
  width: 650px;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: green !important;
}

::ng-deep.mat-form-field-underline {
  background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: green !important;
}

::ng-deep.mat-form-field-suffix .mat-icon {
  color: gray;
}


::ng-deep.mat-form-field-suffix .mat-icon:hover {
  color: green;
}
